section.about{
  height: auto;
  background-color: $lightColor;
  padding-bottom: 100px;
  .bodyLine {
    margin-bottom: 100px;
  }
  p {
    color: $darkColor;
    margin-top: 0;
  }
  .eventLine p {
    text-align: center;
  }
  h3 {
    font-family: 'Hamburg Hand Light';
    color: $darkColor;
    letter-spacing: 1px;
    text-align: left;
    font-size: 19px;
    font-weight: 400;
    line-height: 1.3;
    margin-top: 0;
    margin-bottom: 15px;
  }
  .resume {
    justify-content: left;
    a {
      color: $accentColor;
      font-family: 'Hamburg Hand Light';
      border-bottom: 1px solid $accentColor;
      width: 205px;
      padding-bottom: 1px;
      letter-spacing: 1px;
      padding-top: 20px;
      &:hover,
      &:focus {
        border-bottom: 1px solid transparent;
        color: #e44a2b;
      }
    }
  }
  .aboutParent {
    display: flex;
    justify-content: space-between;
    div:nth-child(1) {
      width: 65%;
      padding-right: 20px;
    }
  }
  .picture {
    img{
      width: 310px;
    }
  }
}

