@media(max-width: 1160px) {
  section.contact form {
    width: 90%;
  }
}

@media(max-width: 975px) {
  .formParent {
    flex-direction: column;
  }
  .half {
      margin-top: 40px;
  }
  section.contact form {
    width: 70%;
  }
  section.contact {
    form {
      padding-top: 0;
    }
  }
  section.about {
    .aboutParent {
      flex-direction: column-reverse;
      align-items: center;
      div:nth-child(1) {
        padding-right: 0;
        width: 80%;
      }
      img {
        padding-bottom: 30px;
        width: 310px;
      }
    }
    h3 {
      text-align: center;
    }
  } 
}

@media(max-width: 860px) {
  h1 {
    line-height: 1;
  }
  header i.fas {
    margin-bottom: 90px;
  }
  .headerParent > div:nth-child(3) {
    margin-top: 55px;
  }
  h2 {
    padding-top: 75px;
    font-size: 28px;
    letter-spacing: 3px;
  }
  section.contact .buttonParent {
    margin-bottom: 30px;
  }
  section.about,
  section.work {
    .bodyLine {
      margin-bottom: 75px;
    }
  }
  section.about {
    padding-bottom: 57px;
  }
  section.work {
    padding-bottom: 80px;
  }
  section.contact .formParent {
    margin-top: 15px;
  }
  .hamburger-menu {
    display: block;
    ul {
      display: flex;
      flex-direction: column;
      margin: 0px;
      padding-left: 17px;
      padding-right: 17px;
      width: 100%;
      height: 100vh;
      justify-content: center;
    }
  }
  .navVisible {
    visibility: visible;
    left: 0;
  }
  nav {
    visibility: hidden;
    position: fixed;
    z-index: 3;
    width: 100%;
    height: 42px;
    left: 100vw;
    transition: 0.3s;
  }
  nav ul li a:hover::after, 
  nav ul li a.active::after,
  nav ul li a:active::after,
  nav ul li a:focus::after {
    width: 0;
    display: none;
  }
  nav ul li a.active {
    color: $accentColor;
  }
  nav ul li {
    border-bottom: 1px solid $lightColor;
  }
  section.about {
    .aboutParent {
      div:nth-child(1) {
        width: auto;
      }
    }
  }
  section.contact form {
    width: 90%;
  }
}

@media(max-width: 610px) {
  h1{
    font-size: 55px;
    letter-spacing: 1px;
  }
  h2.header {
    letter-spacing: 3px;
    font-size: 23px;
  }
  h2 {
    font-size: 27px;
    letter-spacing: 2px;
  }
  section.contact form {
    width: 90%;
  }
}

@media(max-width: 470px) {
  h1 {
    font-size: 49px;
  }
  h2.header {
    font-size: 22px;
    letter-spacing: 2px;
  }
  h2 {
    font-size: 26px;
  }
}

@media(max-width: 430px) {
  .fa.fa-bars {
    width: 40px;
    top: 5px;
    right: 5px;
  }
  .topBar {
    height: 43px;
  }
  section.about {
    .picture {
      img {
        width: 100%;
        height: auto;
      }
    }
  }
  section.contact form {
    width: 100%;
  }
}

@media(max-width: 414px) {
  h1 {
    font-size: 41px;
  }
  h2.header {
    font-size: 19px;
  }
}

@media (max-width: 375px) {
  h2 {
    font-size: 25px;
  }
  header i.fas {
    font-size: 50px;
  }
}

@media(max-width: 350px) {
  h1 {
    font-size: 35px;
    letter-spacing: 1px;
  }
  h2.header {
    font-size: 18px;
    letter-spacing: 1px;
  }
  header i.fas {
    font-size: 45px;
  }
  h2 {
    font-size: 24px;
  }
}