section.work{
  height: auto;
  background-color: #E2F3E9;
  padding-bottom: 50px;
  .bodyLine {
    margin-bottom: 100px;
  }
  .poem {
    display: flex;
    justify-content: center;
  }
  p {
    color: $darkColor;
    margin-top: 0;
  }
  h3 {
    font-family: 'Source Sans Pro';
    color: $darkColor;
    font-size: 23px;
    margin-top: 0px;
  }
}





