section.work{
  height: auto;
  background-color: $lightColor;
  padding-bottom: 50px;
  .bodyLine {
    margin-bottom: 100px;
  }
  p {
    color: $darkColor;
    margin-top: 0;
  }
  .eventLine p {
    text-align: center;
  }
  h3 {
    font-family: 'Source Sans Pro';
    color: $darkColor;
    font-size: 23px;
    margin-top: 0px;
  }
  .aboutParent {
    display: flex;
    justify-content: space-around;
    div:nth-child(1) {
      width: 50%;
      padding-left: 20px;
    }
  }
  .picture {
    img{
      width: 450px;
    }
  }
}

#work > div:nth-child(1) > div:nth-child(3) > div:nth-child(2) {
  padding-left: 40px;
  }



