section.work{
  height: auto;
  background-color: #E2F3E9;
  padding-bottom: 105px;
  .bodyLine {
    margin-bottom: 100px;
  }
  p {
    text-align: center;
  }
  .poem {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .title {
    font-style: italic;
  }
  a {
    color: $accentColor;
    font-family: 'Hamburg Hand Light';
    border-bottom: 1px solid $accentColor;
    padding-bottom: 0px;
    letter-spacing: 1px;
    margin: 0 auto;
      &:hover,
      &:focus {
        border-bottom: 1px solid transparent;
        color: #EE6C4D;
      }
  }
  .link {
    width: max-content;
    margin: 0 auto;
    padding-bottom: 20px;
  }
  .buy {
    padding-top: 40px;
    text-align: center;
    p {
      margin-top: 0;
    }
    a {
      width: max-content;
    }
  }
}





